<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('../static/partials/head'); -%>
</head>
<body>
   <main class="container">
      <h1>Pesticides</h1>
      <ul class="list-group">
         <% pesticides.forEach((pesticide) => { %>
            <li class="list-group-item">
               <a href="/pesticides/<%= pesticide.eparegisno%>"><%= pesticide.prod_name %></a>
            </li>
         <% }) %>
      </ul>
   </main>
   <%- include('../static/partials/baseScripts'); -%>
</body>
</html>